@charset "utf-8";
/* CSS Document */
h1 { color: white; 
	font-family: "Bauhaus 93"; 

}
h2 { color: white; 
	font-family: "Bauhaus 93"; 
}

h3{ color: white; 
	font-family: "Bauhaus 93"; 

}

h4{ color: white; 
	font-family: "Bauhaus 93"; 

}

h5{ color: white; 
	font-family: "Bauhaus 93"; 
}

p1 { color: white; 
	 font-family: "Corbel Light"; 
}

p2{ color: white; 
	 font-family: "Corbel Light"; 
}

p3{ color: white; 
	 font-family: "Corbel Light"; 

}

p4{ color: white; 
	 font-family: "Corbel Light"; 
}

p5 { color: white; 
	font-family: "Corbel Light"; 

}

p6 { color: white; 
	font-family: "Corbel Light"; 

}