@charset "utf-8";
/* CSS Document */
H1 { color: white; 
font-family:"Bauhaus 93";}
p3 { color: white;
	font-family: "Corbel Light";
}
p1 {color: white; 
font-family: "Corbel Light";}
h6{ color: white; 
font-family: "Corbel Light";}
h7{ color: white; 
font-family: "Corbel Light";}
h8{ color: white; 
font-family: "Corbel Light";}
h4{ color: white; 
font-family: "Corbel Light";}
h2{ color: white; 
font-family: "Corbel Light";}
h3{ color: white; 
font-family: "Corbel Light";}
h9{ color: white; 
font-family: "Corbel Light";}
h10{ color: white; 
font-family: "Corbel Light";}